//メディアクエリ、モバイルファースト
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

/**
@import "../../../../sass/app.scss";
@include tab {
}

$main-color: #a66e3e;//茶色
$base-color: #E0CB8E;
$accent-color: #5C3D22;//濃い茶色

//メディアクエリ用、モバイルファーストで作成
$tab: 768px;
$pc: 1025px;
**/