// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #EEEEEE;

$text-color: #333;
$contents-color: #dddccc;
$border-color: #8f7427;
$box-color: #b79532;
$main-color: #a66e3e;
$base-color: #E0CB8E;
$accent-color: #5C3D22;

//メディアクエリ用、モバイルファーストで作成
$tab: 768px;
$pc: 1025px;